// src/components/NavBar/NavBar.module.scss
@import '../../assets/styles/variables';

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  height: 27px;
  display: flex;
  align-items: center;
}

.navLink {
  color: $color-secondary; // Базовий колір тексту
  text-decoration: none;
  transition: color 0.2s ease-in-out; // Плавна зміна кольору
  height: 27px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  background: none;
  border: none;

  &:hover {
    color: $color-white; // Колір при наведенні
  }

  &.active {
    color: $color-white;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: $color-white;

      @media (min-width: $breakpoint-tablet-min) {
        bottom: -10.5px;

      }

      @media (min-width: $breakpoint-desktop-min) {
        bottom: -18.5px;
      }
    }
  }
}


