// src/components/BurgerMenu/BurgerMenu.module.scss
@import '../../assets/styles/variables';
@import '../../assets/styles/mixins'; // Якщо використовуємо міксини

.overlay {
  position: fixed;
  top: 49px; // Height of the header
  left: 0;
  width: 100%;
  height: calc(100% - 49px); // Subtract header height
  background-color: $color-black;
  z-index: 90; // Нижче хедера, але вище контенту
  display: flex;
  justify-content: flex-end; // Меню буде виїжджати справа
  transform: translateX(100%); // Приховуємо меню за замовчуванням
  transition: transform 0.3s ease-out; // Плавний анімований виїзд/заїзд

  &.open {
    transform: translateX(0); // Відображаємо меню
  }

  @media (min-width: $breakpoint-tablet-min) {
    display: none;
  }
}

.menu {
  width: 100%;
  background-color: $color-black;
  height: 100%;
  padding: 24px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease-out;
}

.menuNav {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.burgerNavList {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;

  .navItem {
    height: 27px;
    display: flex;
    align-items: center;
  }

  .navLink {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 0.04em;
    color: $color-white;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
    height: 27px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    background: none;
    border: none;

    &:hover {
      color: $color-white;
    }

    &.active {
      color: $color-white;
    }
  }
}

.menuFooterIcons {
  display: flex;
  justify-content: center; // Центруємо іконки внизу
  gap: 60px; // Відступ між іконками

  .iconLink {
    display: flex;
    flex-direction: column; // Іконка над текстом
    align-items: center;
    gap: 5px;
    color: $color-white;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    .iconText {
      font-size: 14px;
    }
  }
}

.menuFooterActions {
  display: flex;
  height: 64px;
  border-top: 1px solid $color-elements;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: $color-black;
}

.menuFooterBtn {
  flex: 1 1 50%;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
  cursor: pointer;
  position: relative;
  padding: 24px 0;
  font-size: 14px;
  transition: background 0.2s;
  border-left: 1px solid $color-elements;


  &:hover {
    background: rgba(255,255,255,0.05);
  }

  .menuFooterBtn__icon {
    width: 16px;
    height: 16px;
  }
}

.menuFooterBtn--active {
  color: $color-white;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 1px;
    height: 2px;
    background: $color-white;
    border-radius: 1px;
  }
}
