// src/components/Footer/Footer.module.scss
@import '../../assets/styles/variables';

.footer {
  background-color: $color-black;
  color: $color-white;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  //temp
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 100;

  // Обмеження ширини контенту футера
  max-width: $content-width-desktop;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $color-elements;
}

.logo {
  font-weight: bold;
}

.backToTopWrapper {
  display: flex;
  gap: 16px;
  color: $color-white;
  align-items: center;
  justify-content: center;
  // Add border, background, etc. as needed
}

.backToTopText {
  color: $color-surface2;
  font-weight: 700;
  line-height: 100%;
}

.backToTop {
  display: flex;
  align-items: center;
  gap: 16px;
  background: none;
  border: none;
  cursor: pointer;
  // Add padding, border-radius, hover/focus styles, etc.
}

.backToTopIcon {
  display: flex;
  align-items: center;
  background-color: $color-surface2;
  padding: 8px;
  // Optionally style the icon (size, color, etc.)
}

.backToTopArrow {
  width: 16px;
  height: 16px;
  color: $color-white;
}
