// src/assets/styles/_variables.scss
$color-white: #F1F2F9;
$color-accent: #905BFF;
$color-green: #27AE60;
$color-red: #EB5757;
$color-secondary: #75767F;
$color-icons: #4A4D58;
$color-elements: #3B3E4A;
$color-surface2: #3B3E4A;
$color-surface1: #161827;
$color-black: #0F1121;



// Брейкпоінти (значення з дизайну)
$breakpoint-mobile-max: 639px; // До 640px
$breakpoint-tablet-min: 640px;
$breakpoint-tablet-max: 1199px; // До 1200px
$breakpoint-desktop-min: 1200px;

// Ширина контенту для десктопу (якщо є)
$content-width-desktop: 1200px;

